.vs/slnx.sqlite
TodoTask/.vs/TodoTask/FileContentIndex/16013400-1405-486a-994f-3e27e7a3609a.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/2fb05a16-310c-49a9-90fc-c6d934d713ee.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/9d2c8d3f-0614-4625-b372-fe2f407a6b4f.vsidx
TodoTask/ToDoTask.Lambda/obj/project.assets.json
TodoTask/ToDoTask.Lambda/obj/project.nuget.cache
TodoTask/ToDoTask.Lambda/obj/ToDoTask.Lambda.csproj.nuget.dgspec.json
TodoTask/ToDoTask.Lambda/obj/ToDoTask.Lambda.csproj.nuget.g.props
TodoTask/ToDoTask.Lambda/obj/ToDoTask.Lambda.csproj.nuget.g.targets
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/ToDoTask.Lambda.AssemblyInfo.cs
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/ToDoTask.Lambda.AssemblyInfoInputs.cache
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/ToDoTask.Lambda.assets.cache
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/ToDoTask.Lambda.csproj.AssemblyReference.cache
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/ToDoTask.Lambda.GeneratedMSBuildEditorConfig.editorconfig
TodoTask/ToDoTask.Lambda/obj/Debug/net8.0/ToDoTask.Lambda.GlobalUsings.g.cs
TodoTask/.vs/TodoTask/FileContentIndex/2d6e0737-6933-42ed-a06f-5252a261ba38.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/21ff0697-3016-4e9b-886e-c6198aca4c01.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/c1ef3f56-d8d2-4a61-ac18-7075dac069cc.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/c784901d-31d3-4ce4-b131-b42b5b3ba32d.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/db2c4866-ea19-4057-8569-6d68f51a5097.vsidx
TodoTask/.vs/TodoTask/v17/.suo
TodoTask/.vs/TodoTask/v17/DocumentLayout.json
TodoTask/.vs/TodoTask/FileContentIndex/07f2cfe1-a268-4731-801c-438f447f3eef.vsidx
TodoTask/.vs/TodoTask/DesignTimeBuild/.dtbcache.v2
TodoTask/.vs/TodoTask/FileContentIndex/8fcdc5c7-0be5-4549-b29e-ca30cfe19892.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/e5f93ee0-7c3a-43ec-ab56-635d45d22476.vsidx
TodoTask/.vs/ProjectEvaluation/todotask.metadata.v8.bin
TodoTask/.vs/ProjectEvaluation/todotask.projects.v8.bin
TodoTask/.vs/ProjectEvaluation/todotask.strings.v8.bin
TodoTask/.vs/TodoTask/FileContentIndex/2bca12f5-b8f6-4ea5-b79d-ffa41883d157.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/7ca86ac1-90a2-42bf-b1ed-7268e34b917f.vsidx
TodoTask/.vs/TodoTask/v17/.futdcache.v2
TodoTask/.vs/TodoTask/FileContentIndex/17f61c9b-dc88-4dbb-b154-51a13dbcc004.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/4b570b9d-6d77-4b2c-bd89-0c3cb2e5b917.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/9b86af38-833a-4a83-82ca-473f08c7ca52.vsidx
TodoTask/.vs/TodoTask/FileContentIndex/dfb76203-d16a-4f9a-aee7-44489c2fe8ca.vsidx
TodoTask/ToDoTaskClient/obj/Debug/ToDoTaskClient.esproj.CoreCompileInputs.cache
TodoTask/ToDoTaskClient/obj/Debug/ToDoTaskClient.esproj.FileListAbsolute.txt
