<div
  class="mat-elevation-z2"
  style="
    width: 30%;
    padding: 30px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
  "
>
  <form [formGroup]="formTask">
    <div class="flex">
      <mat-form-field>
        <mat-label>Task Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Task description</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
    </div>

    <div class="flex">
      <mat-form-field>
        <mat-label>Task is Done</mat-label>
        <input matInput formControlName="isDone" />
      </mat-form-field>
    </div>

    <mat-radio-group
      matInput
      formControlName="isDone"
      form
      aria-label="Task is done"
    >
      <mat-radio-button value="1">yes</mat-radio-button>
      <mat-radio-button value="0">not</mat-radio-button>
    </mat-radio-group>

    <div class="flex">
      <button NgIf="id == '0'" mat-flat-button color="primary" (click)="save()">
        Save
      </button>
      <button
        mat-flat-button
        color="warn"
        (click)="back()"
        style="margin-left: 8px"
      >
        come back
      </button>
    </div>
  </form>
</div>
